@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../public/fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../public/fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  src: url('../public/fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../public/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../public/fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1;
}


body {
  font-family: 'Montserrat-Regular' ,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white-color);
  background: var(--backgraund-main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: var(--backgraund-header-color);
  width: 100%;
}

:root {
  --backgraund-header-color: rgb(29, 91, 67);
  --backgraund-main-color: rgb(35, 40, 41);
  --gold-color: rgb(253, 176, 86);
  --white-color: rgb(255, 255, 255);
  --black-color: rgb(25, 30, 31);
  --yellow-color: rgb(255, 187, 0);
  --red-color: rgb(253, 86, 86);
  --light-green-color: rgb(129, 254, 149);
  --gray-price-color: rgb(145, 145, 145);
  --gray-border-color: rgb(72, 77, 78);
  --gray-text-color: rgb(155, 155, 155);
  --dark-gray-color: rgb(49, 54, 55);
  --gray-ofer-color: rgba(205, 205, 205, 1);
  --checkBox-border: rgb(96, 101, 102);
  --main-garantee-text: rgb(220, 220, 220);
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-22: 1.375rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-28: 1.75rem;
  --font-size-40: 2.5rem;
  --font-size-50: 3.125rem;
  --Montserrat-Bold: 'Montserrat-Bold', sans-serif;
  --Montserrat-SemiBold: 'Montserrat-SemiBold', sans-serif;
  --Montserrat-Medium: 'Montserrat-Medium', sans-serif;
  --Montserrat-Regular: 'Montserrat-Regular', sans-serif;
  --Raleway-Bold: 'Raleway-Bold', sans-serif;
}

@media screen and (max-width: 1024px){
  html{
    font-size: 11px;
  }
}