.tariffCardChech {
    margin-top: 30px;
}

.tariffCardCheck__agrement {
    display: flex;
    align-items: center;
    gap: 12px;
}

.tariffCardCheck__wrapper {
    display: flex;
    align-items: flex-start;
}

.tariffCardCheck__label {
    position: relative;
}

.tariffCardCheck__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
    /* opacity: 0 остается для визуального скрытия */
    opacity: 0;
}

.tariffCardCheck__inputCheckBox {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
    border: 2px solid var(--checkBox-border);
    border-radius: 3px;
    margin-top: 2px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.tariffCardCheck__inputCheckBox::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 5px;
    width: 22px;
    height: 11px;
    border-radius: 1px;
    border-left: 1px solid var(--gold-color);
    border-bottom: 1px solid var(--gold-color);
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 0.2s ease;
}
.tariffCardCheck__inputCheckBox:focus + .tariffCardCheck__label{
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}

.tariffCardCheck__input:checked+.tariffCardCheck__label .tariffCardCheck__inputCheckBox::after {
    opacity: 1;
}

.error .tariffCardCheck__inputCheckBox {
    border-color: #ef4444;
}

.tariffCardCheck__agrementText a {
    color: var(--white-color);
}

.tariffCardChech__button {
    font-size: var(--font-size-20);
    margin: 16px 0 14px 0;
    padding: 20px 137px;
    background-color: var(--gold-color);
    color: var(--black-color);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.tariffCardChech__text {
    color: var(--gray-text-color);
    font-size: var(--font-size-14);
}

@media screen and (max-width: 720px) {
    .tariffCardChech {
        max-width: 343px;
    }
}

@media screen and (max-width: 380px) {
    .tariffCardChech__button {
        padding: 20px 137px;
    }

}

@media screen and (max-width: 350px) {
    .tariffCardChech__button {
        padding: 20px 121px;
    }

    .tariffCardCheck__inputCheckBox {
        width: 30px;
        height: 30px;
    }
}